.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.preview-mobile {
  display: none;
  background-repeat: no-repeat;
  display: none;
  background-position: center;
}

.preview-mobile_inner-box {
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;  
  z-index: -11;
  width: 600px;
  height: 600px;
  left: 50%;
  transform: translateX(-50%);
}

/* Image Adjust Slider */

.image-adjust {
  display: none !important;
  margin-top: 15px;
  display: flex;
  flex-direction: column;  
  color: white;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  text-align: center;
}

.image-adjust, .finalize {
  opacity: 0;
  transition: opacity .5s ease-out;
}



.adjustWidth, .adjustHeight {
  display: flex;
  gap: 20px; 
  margin-bottom: 5px;
}


.image-adjust input {
  width: 50px;
}

.image-adjust .adjustHeight label {
  margin-right: -5px;
}

.image-adjust .adjustHeight input {
  width: 51px;
  margin-right: 1px;
}


.adjust-width, .adjust-height {
  margin: auto auto;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.finalize {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
}
@media only screen and (max-width: 576px) {
  .steps-title {
    font-size: 1rem;
  }
  .steps-copy {
    font-size: 0.75rem;
  }
  .tyc-bullet-title {
    font-size: 14px;
  }
  .tyc-container ol li,
  .tyc-container ul li,
  .tyc-container p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .lp-nav {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .copyright-copy {
    font-size: 14px;
  }
}
